@{
    ViewData["Title"] = "Home Page";
}
<title>POC Website </title>
<div class="text-center">
    <h1 class="display-4">CWP POC Status : In Progress...</h1>
    <p>CWP POC Close Date: 17th Sep 2021 </p> 
    <a href="https://www.google.com/"> Search </a>
</div>
